/dist/rhash.spec
/dist/rhash.1.*
/dist/librhash.pc
/librhash/exports.sym
po/*.gmo
/rhash
/rhash_shared
/rhash_static
/librhash/test_shared
/librhash/test_static
config.mak
*.[ao]
*.exe
*.dll
*.def
*.so
*.so.0
*.log
