/dist/rhash.spec
/dist/rhash.1
/dist/rhash.1.txt
/dist/rhash.1.html
/dist/rhash.1.win.html
/dist/librhash.pc
/librhash/exports.sym
/librhash/librhash.so.*
po/*.gmo
po/compile-gmo.tag
/rhash
/rhash_shared
/rhash_static
/librhash/test_shared
/librhash/test_static
config.mak
*.[ao]
*.exe
*.dll
*.def
*.so
*.so.0
*.log
